* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: relative;
  background-color:rgba(190, 157, 198, 0.8);
  padding: 1em 3% 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.navbar-left {
  display: inline-flex;
  justify-content: space-between;
  align-items: last baseline;
  gap: 2em;
}

.navbar-left .nav-link ul {
  display: inline-flex;
  justify-content: space-between;
  align-items: last baseline;
}

.navbar .navbar-left .logo img {
  width:3.5em;
  height:auto 0;
}

.navbar .navbar-left .nav-link li {
  list-style: none;
}

.navbar-left .nav-link li {
  font-size: 20px;
  padding: 14px 30px;
  transition: all .2s ease;
  font-family: 'Trajana Sans', sans-serif;
}

.navbar-left .nav-link li a {
  color: #242526;
  transition: all 0s ease;
}

.navbar-left .nav-link li:hover {
  background-color: #242526;
}

.menu-mega {
  position: absolute;
  top: 91px;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.nav-link li:hover .menu-mega {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0s ease;
}

.menu-mega .content {
  background-color: #242526;
  padding: 25px 20px 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-mega .content .row ul {
  display: block;
}

.menu-mega .content .row li a {
  color: #FAF8F6;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.menu-mega .content .row li a:hover {
  color: #fff;
  font-weight: 500;
}

.content .row {
  width: calc(25% - 50px);
  line-height: 45px;
}

.content .row img {
  padding: 0 0 0 2em;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row header {
  color: #FAF8F6;
  font-weight: 700;
  cursor: auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.content .row .links {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
  margin-left: -30px;
}

.content .row .links li {
  padding: 0 10px; 
}

.content .row .links li a {
  font-size: 14px;
}

.navbar-right a {
  letter-spacing: .2em;
  color: #242526;
  font-size: 16px;
  transition: all .2s ease;
}

.navbar-right a:hover {
  color: #8c8984;
}